#int-input {
    width: 300px;
    height: 40px;
    font-size: 20px;
}

#calc-btn {
    width: 80px;
    height: 46px;
    font-size: 20px;
    background-color: rgb(89, 255, 47);
    border: none;
    border-radius: 10px;
}

#calc-btn:hover {
    background-color: #86fa6a;
}

#calc-btn:active {
    background-color: rgb(57, 255, 27);
}

#target-int-input {
    width: 300px;
    height: 40px;
    margin-top: 15px;
}